<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Kaam dhundo</title>
  </head>
	<style media="screen">
		body{
			padding:30px;
		}
		table{
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-top:20px;
		}
		table, th, td {
			padding:10px;
		}
		p{
			color:goldenrod!important;
		}
		th{
			background-color:goldenrod!important;
			color:white;
		}
		h2{
			margin-top: 20px;
			/*font-size: 15px;*/
			color:gray;
		}
		a{
			margin-top: 20px!important;
			font-style: italic;
		}
	</style>
  <body>
    <div class="main-content">
			<h2> नाम </h2>
			<p> {{ employee.name }} </p>
			<h2> फ़ोन नंबर </h2>
			<p> {{ employee.phone }} </p>
			<h2> शिक्षा का स्तर </h2>
			<p> {{ employee.education }} </p>
			<h2> लिंग </h2>
			<p> {{ employee.gender }} </p>
			<h2> अपेक्षित भुगतान </h2>
			<p> {{ employee.salary }} </p>
			<h2> वांछित कौशल </h2>
			<p> {{ employee.skills }} </p>
			<h2> आधार नंबर</h2>
			<p> {{ employee.adhaar }} </p>
			<h2> शहर का नाम </h2>
			<p> {{ employee.city }} </p>
	
		<!-- Site footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>